# macOS
.DS_Store
.AppleDouble
.LSOverride

# Excel 临时文件
~$*.xlsx
~$*.xls
*.tmp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 压缩文件
*.zip

# 其他临时文件
*.log
.cache/

